body {
  background-color: #DAF7A6;
  margin: 0;
  padding: 20px;
}
h1, p{
  color: white;
  text-align: center;
  font-family: Avenir;
}
.secondary-header{
  color: blue;
}
#special-header{
  color: purple;
  font-size: 105px;
}
.content-box{
  background-color: #cc0;
  padding: 20px 40px;
}
.button{
  padding: 10px;
  background-color: blue;
  border: 2px solid purple;

}
.button a{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  font-family: Avenir;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
